.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-add-product {
  margin-top: 20px;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
